body {
    background-color: #050505;
    color: #e2e8f0;
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00f3ff;
}

/* Glassmorphism Utility */
.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.glass:hover {
    background: rgba(255, 255, 255, 0.07);
    border-color: rgba(0, 243, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.1);
}

/* Glitch Text Effect */
.glitch-wrapper {
    position: relative;
}

.glitch-wrapper::before,
.glitch-wrapper::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #050505;
}

.glitch-wrapper::before {
    left: 2px;
    text-shadow: -1px 0 #bd00ff;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch-wrapper::after {
    left: -2px;
    text-shadow: -1px 0 #00f3ff;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(14px, 9999px, 127px, 0);
    }

    100% {
        clip: rect(69px, 9999px, 33px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip: rect(120px, 9999px, 5px, 0);
    }

    100% {
        clip: rect(2px, 9999px, 89px, 0);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.scrolling-element {
    will-change: transform;
    animation: scroll-right 40s linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}